body {
  zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("/vendors/font-awesome/fonts/fontawesome-webfont.eot?v=#4.7");
  src: url("/vendors/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=#4.7") format("embedded-opentype"), url("/vendors/font-awesome/fonts/fontawesome-webfont.woff?v=#4.7") format("woff"), url("/vendors/font-awesome/fonts/fontawesome-webfont.ttf?v=#4.7") format("truetype"), url("/vendors/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.7") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font: 14px/1.7em "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.outer {
  zoom: 1;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.14814814814815%;
  margin: 0 0.925925925925926%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: 1;
  background: #eee;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 1080px) {
  #main {
    display: inline;
    float: left;
    width: 73.14814814814815%;
    margin: 0 0.925925925925926%;
  }
}
.article-date,
.article-category-link,
.archive-year,
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 15px;
  line-height: 1em;
  font-weight: bold;
  border-radius: 30px;
  border: 1px solid #ce8450;
  background: #ce8450;
  display: inline-block;
}
.article-inner,
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 7px 7px 7px #c3c3c3;
  box-shadow: 7px 7px 7px #c3c3c3;
  border-radius: 10px;
}
.article-entry h1,
.widget h1,
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: bold;
  color: #000;
  font-family: "Droid Serif", Georgia, Serif;
}
.article-entry h1 a,
.widget h1 a,
.article-entry h2 a,
.widget h2 a,
.article-entry h3 a,
.widget h3 a,
.article-entry h4 a,
.widget h4 a,
.article-entry h5 a,
.widget h5 a,
.article-entry h6 a,
.widget h6 a {
  color: #000;
  text-decoration: none;
}
.article-entry h1 a:hover,
.widget h1 a:hover,
.article-entry h2 a:hover,
.widget h2 a:hover,
.article-entry h3 a:hover,
.widget h3 a:hover,
.article-entry h4 a:hover,
.widget h4 a:hover,
.article-entry h5 a:hover,
.widget h5 a:hover,
.article-entry h6 a:hover,
.widget h6 a:hover {
  color: #ce8450;
}
.article-entry h2,
.widget h2,
.article-entry h3,
.widget h3,
.article-entry h4,
.widget h4,
.article-entry h5,
.widget h5,
.article-entry h6,
.widget h6 {
  font-weight: 600;
  margin-bottom: 10px;
}
.article-entry h1,
.widget h1 {
  font-size: 1.5em;
}
.article-entry h2,
.widget h2 {
  font-size: 1.3em;
  border-left: 7px #4cae4c solid;
  padding-left: 17px;
}
.article-entry h3,
.widget h3 {
  font-size: 1.2em;
}
.article-entry h4,
.widget h4 {
  font-size: 1.1em;
}
.article-entry h5,
.widget h5 {
  font-size: 1em;
}
.article-entry h6,
.widget h6 {
  font-size: 1em;
  color: #999;
}
.article-entry hr,
.widget hr {
  border: 1px dashed #c3c3c3;
}
.article-entry strong,
.widget strong {
  font-weight: bold;
}
.article-entry em,
.widget em,
.article-entry cite,
.widget cite {
  font-style: italic;
}
.article-entry sup,
.widget sup,
.article-entry sub,
.widget sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup,
.widget sup {
  top: -0.5em;
}
.article-entry sub,
.widget sub {
  bottom: -0.2em;
}
.article-entry small,
.widget small {
  font-size: 0.85em;
}
.article-entry acronym,
.widget acronym,
.article-entry abbr,
.widget abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.widget ul,
.article-entry ol,
.widget ol,
.article-entry dl,
.widget dl {
  margin: 0 20px;
  line-height: 1.7em;
}
.article-entry ul ul,
.widget ul ul,
.article-entry ol ul,
.widget ol ul,
.article-entry ul ol,
.widget ul ol,
.article-entry ol ol,
.widget ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul,
.widget ul {
  list-style: disc;
}
.article-entry ol,
.widget ol {
  list-style: decimal;
}
.article-entry dt,
.widget dt {
  font-weight: bold;
}
#header {
  height: 300px;
  position: relative;
  border-bottom: 1px solid #c3c3c3;
}
#header:before,
#header:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
}
#header:before {
  top: 0;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -moz-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -o-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: -ms-linear-gradient(rgba(0,0,0,0.2), transparent);
  background: linear-gradient(rgba(0,0,0,0.2), transparent);
}
#header:after {
  bottom: 0;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -o-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: -ms-linear-gradient(transparent, rgba(0,0,0,0.2));
  background: linear-gradient(transparent, rgba(0,0,0,0.2));
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("http://7xpcdg.com1.z0.glb.clouddn.com/headerNew.png") center #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}
#header-title {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
#logo {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 5px 10px;
  border: 2px solid #fff;
  border-radius: 50px;
}
@media screen and (max-width: 479px) {
  #logo {
    font-size: 30px;
  }
}
#subtitle {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff;
}
#subtitle-wrap {
  margin-top: 16px;
}
#main-nav {
  float: left;
  margin-left: -15px;
}
.nav-icon,
.main-nav-link {
  float: left;
  color: #fff;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: block;
  padding: 20px 15px;
}
.nav-icon:hover,
.main-nav-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.main-nav-link {
  font-family: FontAwesome;
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 479px) {
  .main-nav-link {
    display: none;
  }
}
#main-nav-toggle {
  display: none;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 479px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  float: right;
  margin-right: -15px;
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 0;
}
@media screen and (max-width: 479px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #000;
  width: 100%;
  font: 13px "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
.article {
  margin: 27px 0;
}
.article-inner {
  overflow: hidden;
}
.article-meta {
  zoom: 1;
  margin-bottom: 7px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date {
  float: left;
  border: 1px solid #ce8450;
  background: #ce8450;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
/* Firefox 4 */
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s;
/* Opera */
}
a.article-date:hover {
  background: #f3a45f;
  border: 1px solid #f3a45f;
  color: #fff;
}
.article-category {
  float: left;
  color: #ccc;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 7px 0px;
  border: 1px solid #ce8450;
  background: #ce8450;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
/* Firefox 4 */
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s;
/* Opera */
}
a.article-category-link:hover {
  background: #f3a45f;
  border: 1px solid #f3a45f;
  color: #fff;
}
.article-header {
  padding: 20px 20px 0;
}
.article-title {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  line-height: 1.1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a.article-title:hover {
  color: #ce8450;
}
@media screen and (max-width: 479px) {
  .article-title {
    font-size: 20px;
  }
}
.article-title-icon {
  color: #fff;
  border: 1px solid #009a61;
  border-radius: 15%;
  background: #009a61;
  padding: 3px 1px 0px 3px;
  margin-right: 7px;
}
.article-entry {
  zoom: 1;
  color: #000;
  padding: 0 20px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.7em;
  margin: 0.7em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #ce8450;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 17px;
  border-radius: 5px;
  -webkit-box-shadow: -1px -1px 15px 7px #c3c3c3;
  box-shadow: -1px -1px 15px 7px #c3c3c3;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #c3c3c3;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #c3c3c3;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: "Droid Serif", Georgia, Serif;
  margin: 1.7em 0;
  padding: 0 0.8em;
  border-left: 4px solid #c3c3c3;
  color: #777;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.7em 0;
  font-family: "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #49be38;
  background: #49be38;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all border 0.3s;
  -moz-transition: all border 0.3s;
  -o-transition: all border 0.3s;
  -ms-transition: all border 0.3s;
  transition: all border 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s /* Safari and Chrome */;
  -o-transition: all 0.3s /* Opera */;
}
.article-more-link a:hover {
  background: #009a61;
  border: 1px solid #009a61;
  color: #fff;
  text-decoration: none;
}
.article-footer {
  zoom: 1;
  font-size: 0.85em;
  line-height: 1.7em;
  border-top: 2px solid #c3c3c3;
  padding: 10px;
  margin: 0 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s /* Safari and Chrome */;
  -o-transition: all 0.3s /* Opera */;
}
.article-footer a:hover {
  color: #000;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  zoom: 1;
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 1080px) {
  #article-nav {
    margin: 27px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #c3c3c3;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 27px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #000;
}
@media screen and (min-width: 1080px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
#article-nav-newer {
  border-right: 6px solid #49be38;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s /* Safari and Chrome */;
  -o-transition: all 0.3s /* Opera */;
}
#article-nav-newer:hover {
  border-right: 30px solid #009a61;
}
@media screen and (min-width: 1080px) {
  #article-nav-newer {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
#article-nav-older {
  border-left: 6px solid #f00;
  border-left: 6px solid #49be38;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s /* Safari and Chrome */;
  -o-transition: all 0.3s /* Opera */;
}
#article-nav-older:hover {
  border-left: 30px solid #009a61;
}
@media screen and (min-width: 1080px) {
  #article-nav-older {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #c3c3c3;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.7em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #000;
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 10px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  zoom: 1;
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-weibo,
.article-share-weixin,
.article-share-qq,
.article-share-renren,
.article-share-more,
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
  cursor: pointer;
}
.article-share-weibo:before,
.article-share-weixin:before,
.article-share-qq:before,
.article-share-renren:before,
.article-share-more:before,
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-weibo:hover,
.article-share-weixin:hover,
.article-share-qq:hover,
.article-share-renren:hover,
.article-share-more:hover,
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-weibo:before {
  content: "\f18a";
}
.article-share-weibo:hover {
  background: #d44137;
  text-shadow: 0 1px #b02f26;
}
.article-share-weixin:before {
  content: "\f1d7";
}
.article-share-weixin:hover {
  background: #38ad5a;
  text-shadow: 0 1px #2d8a48;
}
.article-share-qq:before {
  content: "\f1d6";
}
.article-share-qq:hover {
  background: #39b2e2;
  text-shadow: 0 1px #1d96c5;
}
.article-share-renren:before {
  content: "\f18b";
}
.article-share-renren:hover {
  background: #105ba3;
  text-shadow: 0 1px #0d4982;
}
.article-share-more:before {
  content: "\f067";
}
.article-share-more:hover {
  background: #333;
  text-shadow: 0 1px #292929;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-gallery {
  background: #000;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#busuanzi_container_page_pv {
  display: None;
  border: solid 1px;
  border-radius: 50px;
  padding: 1px 7px;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #c3c3c3;
  box-shadow: 1px 2px 3px #c3c3c3;
  padding: 20px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  margin: 27px 0;
}
#comments a {
  color: #ce8450;
}
.archives-wrap {
  margin: 27px 0;
}
.archives {
  zoom: 1;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
  line-height: 1em;
}
.archive-year {
  border-radius: 10px;
  color: #fff;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 967px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 1080px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-left: solid 2px #ce8450;
}
.archive-article-inner h1 {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s /* Opera */;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.7em;
}
.archive-article-title:hover {
  color: #ce8450;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  zoom: 1;
  margin: 27px auto;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px #c3c3c3;
  box-shadow: 1px 1px 3px #c3c3c3;
  border: 3px solid #c3c3c3;
  border-radius: 50px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 10px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
/* Firefox 4 */
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s;
/* Opera */
}
#page-nav a:hover {
  border-radius: 50px;
  background: #49be38;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #000;
  font-weight: bold;
}
#page-nav .space {
  color: #c3c3c3;
}
#footer {
  background: url("http://7xpcdg.com1.z0.glb.clouddn.com/footerNew.jpg") center #000;
  padding: 50px 0;
  border-top: 1px solid #c3c3c3;
  color: #999;
}
#footer a {
  color: #999;
  text-decoration: none;
}
#footer a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer-info {
  line-height: 1.7em;
  font-size: 0.85em;
}
#heart-icon:before {
  content: "\f21e";
  padding-right: 5px;
}
.article-entry pre,
.article-entry .highlight {
  background: #282c34;
  padding: 7px 20px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  overflow: auto;
  color: #abb2bf;
  line-height: 23.8px;
}
@media screen and (max-width: 479px) {
  .article-entry pre,
  .article-entry .highlight {
    margin: 0 -20px;
    border-radius: 0px;
    border-width: 1px 0px;
  }
}
@media screen and (min-width: 480px) and (max-width: 967px) {
  .article-entry pre,
  .article-entry .highlight {
    margin: 0 -20px;
    border-radius: 0px;
    border-width: 1px 0px;
  }
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #afafaf !important;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  padding: 1px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 3px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border: none;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #5c6370;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 5px;
  margin-right: 10px;
  border-right: 3px solid #6ce26c;
  border-radius: 0px;
}
.article-entry .highlight .line {
  height: 23.8px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #c3c3c3;
  border-width: 1px 0;
  background: #282c34;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #282c34;
  color: #5c6370;
  font: 0.85em "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #ce8450;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .preprocessor {
  color: #5c6370;
}
pre .tag {
  color: #abb2bf;
}
pre .title,
pre .variable,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #61afef;
}
pre .number,
pre .built_in,
pre .literal,
pre .constant {
  color: highlight-purp;
}
pre .params {
  color: #d19a66;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .attribute {
  color: #61afef;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #e5c07b;
}
pre .css .hexcolor {
  color: #4b5236;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #98c379;
}
pre .keyword,
pre .javascript .function {
  color: #98c379;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    font-family: FontAwesome;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
#totop {
  position: fixed;
  display: none;
  z-index: 9999;
  bottom: 5em;
  right: 1em;
  cursor: pointer;
}
@media tabletmax {
  #totop {
    display: none !important;
  }
}
.weight-icon-link {
  display: inline-block;
  padding: 2px;
}
.weight-icon-link {
  font-family: FontAwesome;
  font-size: 1.3em;
  letter-spacing: 1px;
}
#github-alt-icon-color {
  color: #000;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#github-alt-icon-color:hover {
  color: #000;
}
#zhihu-icon-color {
  color: #0f88eb;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#zhihu-icon-color:hover {
  color: #000;
}
#weixin-icon-color {
  color: #49be38;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#weixin-icon-color:hover {
  color: #000;
}
#qq-icon-color {
  color: #49afcd;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#qq-icon-color:hover {
  color: #000;
}
#weibo-icon-color {
  color: #d44137;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#weibo-icon-color:hover {
  color: #000;
}
#envelope-o-icon-color {
  color: #e69658;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#envelope-o-icon-color:hover {
  color: #000;
}
#music-icon-color {
  color: #fe6c34;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#music-icon-color:hover {
  color: #000;
}
#csdn-icon-color {
  color: #6c7eb7;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#csdn-icon-color:hover {
  color: #000;
}
#douban-icon-color {
  color: #15c7e0;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#douban-icon-color:hover {
  color: #000;
}
#facebook-icon-color {
  color: #15c7e0;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#facebook-icon-color:hover {
  color: #000;
}
#linkedin-icon-color {
  color: #15c7e0;
  background: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
#linkedin-icon-color:hover {
  color: #000;
}
ul.search-result-list {
  padding-left: 0px;
  margin: 0px 5px 0px 8px;
}
p.search-result {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
a.search-result-title {
  font-weight: bold;
}
a.search-result {
  border-bottom: transparent;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.search-keyword {
  border-bottom: 1px dashed #4088b8;
  font-weight: bold;
}
#local-search-result {
  height: 90%;
  overflow: auto;
}
.popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 700px;
  height: 80%;
  margin-left: -350px;
  padding: 3px 0 0 10px;
  background: #fff;
  color: #333;
  z-index: 9999;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .popup {
    padding: 3px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
.popoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2048;
  background-color: rgba(0,0,0,0.3);
}
#local-search-input {
  margin-bottom: 10px;
  width: 50%;
}
.popup-btn-close {
  position: absolute;
  top: 6px;
  right: 14px;
  color: #4ebd79;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
#no-result {
  position: absolute;
  left: 44%;
  top: 42%;
  color: #ccc;
}
.algolia-popup {
  overflow: hidden;
  padding: 0;
}
.algolia-popup .popup-btn-close {
  padding-left: 15px;
  border-left: 1px solid #eee;
  top: 10px;
}
.algolia-popup .popup-btn-close .fa {
  color: #999;
  font-size: 18px;
}
.algolia-popup .popup-btn-close:hover .fa {
  color: #222;
}
.algolia-search {
  padding: 10px 15px 5px;
  max-height: 50px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.algolia-search-input-icon {
  display: inline-block;
  width: 20px;
}
.algolia-search-input-icon .fa {
  font-size: 18px;
}
.algolia-search-input {
  display: inline-block;
  width: calc(90% - 20px);
}
.algolia-search-input input {
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}
.algolia-powered {
  float: right;
}
.algolia-powered img {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.algolia-results {
  position: relative;
  overflow: auto;
  padding: 10px 30px;
  height: calc(100% - 50px);
}
.algolia-results hr {
  margin: 10px 0;
  height: 3px;
  border: none;
  background-color: #ddd;
  background-image: -webkit-repeating-linear-gradient(135deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  background-image: -moz-repeating-linear-gradient(135deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  background-image: -o-repeating-linear-gradient(135deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  background-image: -ms-repeating-linear-gradient(135deg, #fff, #fff 4px, transparent 4px, transparent 8px);
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);
}
.algolia-results a {
  word-wrap: break-word;
  color: #555;
  text-decoration: none;
}
.algolia-results a:hover {
  color: #222;
  border-bottom-color: #222;
}
.algolia-results .highlight {
  font-style: normal;
  margin: 0;
  padding: 0 2px;
  font-size: inherit;
  color: #f00;
}
.algolia-results em {
  font-style: normal;
  font-size: inherit;
  margin: 0;
  padding: 0 2px;
  color: #f00;
}
.algolia-hits {
  margin-top: 20px;
}
.algolia-hit-item {
  margin: 15px 0;
}
.algolia-hit-item-link {
  display: block;
  border-bottom: 1px dashed #ccc;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}
.algolia-pagination .pagination {
  margin-top: 40px;
  border-top: none;
  padding: 0;
  text-align: center;
  margin: 120px 0px 40px;
}
.algolia-pagination .pagination-item {
  display: inline-block;
}
.algolia-pagination .page-number {
  border-top: none;
}
.algolia-pagination .page-number:hover {
  border-bottom: 1px solid #222;
}
.algolia-pagination .disabled-item {
  visibility: hidden;
}
@media screen and (min-width: 1080px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.14814814814815%;
    margin: 0 0.925925925925926%;
  }
}
.widget-wrap {
  margin: 27px 0;
}
@media screen and (max-width: 479px) {
  .widget-wrap {
    display: None;
  }
}
.widget-title {
  color: #fff;
  margin-bottom: 7px;
}
.widget {
  color: #777;
  background: #fff;
  -webkit-box-shadow: 7px 7px 7px #c3c3c3;
  box-shadow: 7px 7px 7px #c3c3c3;
  padding: 15px;
  border-radius: 10px;
}
.widget a {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s /* Opera */;
}
.widget a:hover {
  text-decoration: none;
  color: #ce8450;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: disc;
}
.widget ul li {
  text-decoration: none;
  color: #777;
  margin-left: 0px;
  margin-right: 0px;
  border-left: #eee solid 0px;
  padding-left: 0px;
  background: color-white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s /* Opera */;
}
.widget ul li:hover {
  text-decoration: none;
  color: #ce8450;
  margin-left: -15px;
  margin-right: -15px;
  border-left: #49be38 solid 7px;
  padding-left: 15px;
  background: #eee;
}
.widget {
  line-height: 1.7em;
  word-wrap: break-word;
  font-size: 0.77em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ul,
.widget ol ul {
  list-style: disc;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.widget ul li,
.widget ol li {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s /* Opera */;
}
.widget ul li:hover,
.widget ol li:hover {
  margin-bottom: 5px;
  white-space: normal;
}
.category-list-link,
.tag-list-link,
.archive-list-link {
  float: left;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  float: right;
  padding: 0 7px;
  color: #fff;
  border-radius: 30px;
  background: #49be38;
  font-size: 0.85em;
}
.tagcloud a {
  word-break: keep-all;
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s /* Firefox 4 */;
  -webkit-transition: all 0.3s;
/* Safari and Chrome */
  -o-transition: all 0.3s /* Opera */;
}
.tagcloud a:hover {
  font-size: 50px;
  color: #fff;
  background: #49be38;
  border-radius: 6px;
  padding: 0px 5px;
}
span.ua {
  margin: 0 1px !important;
  color: #fff !important;
/*text-transform: Capitalize!important;
  	float: right!important;
  	line-height: 18px!important;*/
}
.sskadmin {
  background-color: #47a4ff !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_other.os_other {
  background-color: #ccc !important;
  color: #fff;
  border: 1px solid #bbb !important;
  border-radius: 4px;
}
.ua_ie {
  background-color: #428bca !important;
  border-color: #357ebd !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_firefox {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_maxthon {
  background-color: #7373b9 !important;
  border-color: #7373b9 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_ucweb {
  background-color: #ff740f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_sogou {
  background-color: #78ace9 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345explorer {
  background-color: #2478b8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_2345chrome {
  background-color: #f9d024 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_mi {
  background-color: #ff4a00 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_lbbrowser {
  background-color: #fc9d2e !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_chrome {
  background-color: #ee6252 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_qq {
  background-color: #3d88a8 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_apple {
  background-color: #e95620 !important;
  border-color: #4cae4c !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.ua_opera {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_vista,
.os_2000,
.os_windows,
.os_xp,
.os_7,
.os_8,
.os_8_1 {
  background-color: #39b3d7 !important;
  border-color: #46b8da !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_android {
  background-color: #98c13d !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_ubuntu {
  background-color: #dd4814 !important;
  border-color: #01b171 !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_linux {
  background-color: #3a3a3a !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_mac {
  background-color: #666 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_unix {
  background-color: #060 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
.os_nokia {
  background-color: #014485 !important;
  border-color: #1f1f1f !important;
  border-radius: 4px;
  padding: 0 5px !important;
}
